## Lines starting with '#' are considered comments.
## Ignore files
project01
project01.pro.user
project01.pro.user.1.3

## Ignore 
#*.html
## except foo.html which is maintained by hand.
#!foo.html
# Ignore objects and archives.
*.[oa]
